{% extends 'base.html.twig' %}

{% block body %}
	<form method="post" action="{{ path('app_login') }}">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<label for="inputUsername">Nom d'utilisateur :</label>
		<input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>

		<label for="inputPassword">Mot de passe :</label>
		<input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-success" type="submit">Se connecter</button>
	</form>
{% endblock %}
